/*RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}
/*UTILITIES*/

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.justify-center{
    justify-content: center;
}

.justicy-between{
    justify-content: space-between;
}

.column{
    display: flex;
    flex-direction: column;
}

.row-gap{
    row-gap: 30px;
}

.gap{
    gap: 10px;
}

.scroll-y{
    overflow-y: scroll;
}
/*GENERAL CLASSES*/
ul{
    list-style-type: none;
}

section.cards{
    padding: 0px 13px;
    margin-top: 20px;
}

.cards-container{
    margin: 20px auto;
}

.card{
    width: calc((100% / 2) - 10px);
    background-color: red;
    height: 150px;
}

.cards h1,
.cards h2{
    color: white;
}

.cards h1{
    font-size: 1.3rem;
}
/*HEADER*/
nav{
    height: 100%;
    background-color: #000000;
}

header{
    width: 40px;
    height: calc(100vh - 70px);
}
/*MAIN*/
main{
    width: calc(100% - 40px);
    background-color: #141922;
    height: calc(100vh - 70px);
}

section.upgrade{
    width: 100%;
    height: 90px;
    background-color:#080b12 ;
}

.main-nav{
    max-width: 420px;
}

.main-nav-container{
    margin: 0 auto;
    width: 100%;
}

section.main-nav{
    color: #76787d;
}


.main-nav>ul>li{
    margin-left: 13px;
    text-transform: uppercase;
    font-size: 0.75rem;
}

.main-nav>ul>li:first-child{
    margin-left: 0;
}

.main-nav>ul{
    margin-top: 20px;
}

/*RECENTLY PLAYED*/


/*FOOTER*/
footer{
    width: 100%;
    height: 70px;
    background-color: #282828;
}
/*MEDIA QUERY*/

@media screen and (min-width:576px) {
    header{
        width: 230px;
    }

    main{
        width: calc(100% - 230px);
        background-color: #141922;
        height: calc(100vh - 70px);
    }


    .main-nav{
        max-width: 324px;
    }
}

@media screen and (min-width:768px) {
    .main-nav{
        max-width: 450px;
    }

    .card{
        width: calc((100% / 4) - 10px);
        background-color: red;
        height: 150px;
    }
}

@media screen and (min-width:992px) {
    .main-nav{
        max-width: none;
    }

    .card{
        width: calc((100% / 6) - 10px);
        background-color: red;
        height: 150px;
    }
}