/*RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*UTILITIES*/
.align-center{
    align-items: center;
}

.icon-gray{
    color:#a3a3a3;
}

.round-img{
    border-radius: 50%;
}

.card img{
    width: 100%;
}

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.column{
    display: flex;
    flex-direction: column;
}

.row-gap{
    row-gap: 30px;
}

.gap{
    gap: 10px;
}

.scroll-y{
    overflow-y: scroll;
}
/*GENERAL CLASSES*/
ul{
    list-style-type: none;
}

section.cards{
    padding: 0px 13px;
    margin-top: 20px;
}

.cards-container{
    margin: 20px auto;
}

.card{
    width: calc((100% / 2) - 10px);
}

.cards h3{
    font-size: 0.80rem;
    color: #76787d;
}

.cards h2{
    font-size:0.90rem ;
}

.cards h3{
    margin-top: 8px;
}

.card h2,
.card h3{
    margin-top: 8px;
    text-align: center;
}
.cards h1,
.cards h2{
    color: white;
}

.cards h1{
    font-size: 1.3rem;
}
/*HEADER*/
nav{
    height: 100%;
    background-color: #000000;
    color: #76787d;
}

header{
    width: 40px;
    height: calc(100vh - 70px);
}

.personal-nav{
    margin-top: 10px;
}

.personal-nav img{
    width: 1rem;
}

.upper-nav{
    width: 40%;
}

.lower-nav{
    width: 20%;
}

.playlist-nav{
    display: none;
    margin-top: 10px;
}

.playlist-nav i{
    color: #a3a3a3;
    font-size: 2rem;
    vertical-align: middle;
    border-radius: 0;
}

.playlist-nav li{
    margin-top: 7px;
}

.logo-big{
    display: none;
}

/*MAIN*/
main{
    width: calc(100% - 40px);
    background-color: #141922;
    height: calc(100vh - 70px);
}

section.upgrade{
    width: 100%;
    height: 90px;
    background-color:#080b12 ;
    position: fixed;
}

.main-nav{
    max-width: 420px;
}

.main-nav-container{
    margin-top: 90px;
    width: 100%;
}

section.main-nav{
    color: #76787d;
}


.main-nav>ul>li{
    margin-left: 13px;
    text-transform: uppercase;
    font-size: 0.75rem;
}

.main-nav>ul>li:first-child{
    margin-left: 0;
}

.main-nav>ul{
    margin-top: 20px;
}

/*RECENTLY PLAYED*/


/*FOOTER*/
footer{
    width: 100%;
    height: 70px;
    background-color: #282828;
}
/*MEDIA QUERY*/

@media screen and (min-width:576px) {
    header{
        width: 230px;
    }

    main{
        width: calc(100% - 230px);
        background-color: #141922;
        height: calc(100vh - 70px);
    }


    .main-nav{
        max-width: 324px;
    }

    .playlist-nav{
        display:unset;
    }

    .logo-big{
        display: unset;
    }

    .logo-small{
        display: none;
    }
}

@media screen and (min-width:768px) {
    .main-nav{
        max-width: 450px;
    }

    .card{
        width: calc((100% / 4) - 10px);
    }
}

@media screen and (min-width:992px) {
    .main-nav{
        max-width: none;
    }

    .card{
        width: calc((100% / 6) - 10px);
    }
}