/*RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 200px;
    background-color: aquamarine;
    height: calc(100vh - 130px);
}

main{
    width: calc(100% - 200px);
}
/*UTILITIES*/

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.justify-center{
    justify-content: center;
}

.justicy-between{
    justify-content: space-between;
}

.column{
    display: flex;
    flex-direction: column;
}